<table class="table list" *ngIf="data">
  <thead>
  <tr>
    <th>Avatar</th>
    <th scope="col">Name</th>
    <th scope="col">Gender</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let item of data" [routerLink]="[item.id]" class="list_item">
    <td>
      <img [src]="item.image" alt="avatar" width="150" height="150" />
    </td>
    <td>
      {{ item.name }}
    </td>
    <td>
      <img [src]="characterGenderIcon(item.gender)" alt="gender" height="30" width="30" />
    </td>
  </tr>
  </tbody>
</table>
